WEBHOOK_ID: 1074575571780128778
WEBHOOK_TOKEN: "B9ScwUou4qd_1NZvl-6oDN0mPxnS_VMB1xRaJ-D_vSOJqCI2G_CRvFALJj398J8x6ttT"
STACKEXCHANGE:
  order: desc
  sort: creation
  site: stackoverflow
  tagged: nim-lang
MESSAGE_FORM_DATA:
  avatar_url: "%(profile_image)s"
  username: "%(display_name)s"
  embeds:
    - title: "%(title)s"
      url: "%(link)s"
      author:
        name: "%(display_name)s"
        url: "%(author_link)s"
        icon_url: "%(profile_image)s"
      fields:
        - name: Tags
          value: "%(tags)s"
